body, html {
    height: 100%;
    margin: 0;
    background: #eaecf0;
}

/* Image gets kinda weird when zoomed, may need to change that */

.overlay {
    /* The image used */
    background-image: url("/Images/Background.jpg");

    /*background-color: yellow;*/
  
    /* Full height */
    height: 60%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: scroll;
    position: relative;
}

.overlay-text {
    color: white;
    font-size: 160%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "roboto condensed", sans-serif;
}

.overlay::before {
    background-color: rgba(11, 13, 14, 0.4);
    background-image: none;
    background-origin: padding-box;
    background-size: auto auto;
    color: rgb(255, 255, 255);
    content: "";
    display: block;
    font-family: roboto condensed, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    width: inherit;
}

.overlay-title {
    font-size: 54px;
    text-transform: uppercase;
    color: #fff;
    font-family: roboto condensed,sans-serif;
    line-height: 1.2;
    padding-bottom: 12px;
}

.overlay-button {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 22px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    text-transform: uppercase;
}

.items {
    margin-top: 20px;
}

.left {
    margin-left: 10%;
    float: left;
}

.right {
    margin-right: 10%;
    float: right;
}

.textbox {
    font-family: "roboto condensed", sans-serif;
    background: white;
    width: 40%;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 17px;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    display: block;
    width: 50%;
}

.textbox-text {
    color:rgb(85, 85, 85);
    display: block;
    font-size: 15px;
    height: 100px;
    line-height: 21.75px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    width: 100%;
}

.textbox-title {
    color:rgb(34, 34, 34);
    font-size: 24px;
    line-height: 34.8px;
    width: 400px;
    height: 45px;
}

.container-intro {
    text-align: center;
    font-size: 160%;
}

.intro-title {
    font-family: "bebas neue", bebas, helvetica, sans-serif;
    font-weight: 400;
    font-size: 130%;
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    font-style: normal;
    line-height: 56.1667px;
    overflow-wrap: break-word;
}

.first-shape {
    border-color: rgb(234, 236, 240);;
    border-style: solid;
    border-width: 25px;
    border-right-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 25px;
    line-height: 21.75px;
    position: absolute;
    left: 0px;
    width: 50%;
}

.second-shape {
    border-color: rgb(234, 236, 240);;
    border-style: solid;
    border-width: 25px;
    border-left-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 25px;
    line-height: 21.75px;
    position: absolute;
    right: 0px;
    width: 50%;
}