body {
    background: #eaecf0;
}

.items {
    margin-top: 20px;
}

.left {
    margin-left: 10%;
    float: left;
}

.right {
    margin-right: 10%;
    float: right;
}

.textbox {
    font-family: "roboto condensed", sans-serif;
    background: white;
    width: 40%;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 17px;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    display: block;
    width: 50%;
}

.textbox-text {
    color:rgb(85, 85, 85);
    display: block;
    font-size: 15px;
    height: 100px;
    line-height: 21.75px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    width: 100%;
}

.textbox-title {
    color:rgb(34, 34, 34);
    font-size: 24px;
    line-height: 34.8px;
    width: 400px;
    height: 45px;
}


.container-intro {
    text-align: center;
    font-size: 160%;
}

.intro-title {
    font-family: "bebas neue", bebas, helvetica, sans-serif;
    font-weight: 400;
    font-size: 46.8px;
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 130%;
    text-transform: uppercase;
    color: black;
}