<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/Contact.css">
</head>
<body>

    <h3>Contactez nous</h3>

    <div class="container">
        <form action="/api/contact" method="POST">
            <input type="text" id="name" name="name" placeholder="Nom">

            <input type="text" id="email" name="email" placeholder="Email">

            <textarea id="message" name="message" placeholder="Message" style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>
