<link rel="stylesheet" type="text/css" href="/Public/NavBar.css" />

<div class="header" id="nbar">
    <div class="navbar-content">
        <a href="/">Home</a>
        <img src="/Images/Favicon.png" style="max-width: 50px;"></img>
        <a href="timeline">Timeline</a>
    </div>
</div>

<!-- This allows the navbar to stick whenever someone scrolls down -->
<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("nbar");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>