.box {
    background: white;
    width: 700px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 30px 30px 30px 30px;
    border: #7ba9c7 1px solid;
}

.btn-space {
    margin-right: 10px;
}